################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Implementations/.vs/Implementations/v15
*.sln
*.filters
*.vcxproj
*.user
